@font-face {
    font-family: 'AlimamaDongFangDaKai-Regular';
    src: url(@/assets/fonts/AlimamaDongFangDaKai-Regular/AlimamaDongFangDaKai-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AlimamaDongFangDaKai-Regular';
    src: url(@/assets/fonts/AlimamaDongFangDaKai-Regular/AlimamaDongFangDaKai-Regular.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}