@use '@/styles/base' as *;
// Vue 过渡类
// 动画活动样式
.fade-enter-active {
    transition: opacity 0.3s ease-out;
}

.fade-leave-active {
    transition: opacity 0.2s ease-in;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
// scale缩放动画
.scale-enter-active {
    transition: transform 0.3s ease-in-out;
}

.scale-leave-active {
    transition: transform 0.2s ease-in-out;
}

.scale-enter-from,
.scale-leave-to {
    transform: scale(0.95);
}
// ---中淡入淡出---
.medium-fade-enter-active {
    transition: opacity 1s ease-out;
}

.medium-fade-leave-active {
    transition: opacity 0.5s ease-in;
}

.medium-fade-enter-from,
.medium-fade-leave-to {
    opacity: 0;
}
// ---长淡入淡出---
.long-fade-enter-active {
    transition: opacity 2s ease-out;
}

.long-fade-leave-active {
    transition: opacity 1s ease-in;
}

.long-fade-enter-from,
.long-fade-leave-to {
    opacity: 0;
}
// ---slide-y侧边栏从y轴消失动画---
.slide-y-enter-active {
    transition: all 0.3s ease-out;
}

.slide-y-leave-active {
    transition: all 0.2s ease-in;
}

.slide-y-enter-from,
.slide-y-leave-to {
    transform: translateY(20px);
    opacity: 0;
}
// ---slide-x侧边栏x轴消失动画---
.slide-x-enter-active {
    transition: all 0.4s ease-out;
}

.slide-x-leave-active {
    transition: all 0.3s ease-in;
}

.slide-x-enter-from,
.slide-x-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

// 嵌套父子组件的过渡样式
// ---footer滑动到底部---
.footer-enter-active {
    transition: transform 1s $easeQuartOut;

    .footer-border {
        transition: transform 1s $easeQuartOut;
    }
}

.footer-leave-active {
    transition: transform 0.6s $easeQuartOut;

    .footer-border {
        transition: transform 0.6s $easeQuartOut;
    }
}

.footer-enter-from,
.footer-leave-to {
    transform: translateY(100%);

    .footer-border {
        transform: scaleX(0);
    }
}

.footer-delay-enter-active {
    transition: transform 1s $easeQuartOut 0.25s;

    .footer-border {
        transition: transform 1s $easeQuartOut 0.25s;
    }
}

.footer-delay-leave-active {
    transition: transform 0.6s $easeQuartOut;

    .footer-border {
        transition: transform 0.6s $easeQuartOut;
    }
}

.footer-delay-enter-from,
.footer-delay-leave-to {
    transform: translateY(100%);

    .footer-border {
        transform: scaleX(0);
    }
}

// 闪烁动画
@keyframes blink_on_leave {

    0%,
    10% {
        opacity: 1;
    }

    11%,
    20% {
        opacity: 0;
    }

    21%,
    30% {
        opacity: 1;
    }

    31%,
    100% {
        opacity: 0;
    }
}

// blink-on-leave
.blink-on-leave-leave-active {
    transition: transform 1s $easeQuartOut;
}


.blink-on-leave-leave-to {
    transform: translateY(50%);
    animation: 1s linear 0s infinite alternate blink_on_leave;// 使用闪烁动画
}

// ---------上下飞溅动画开始--------
@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
// ---------上下飞溅动画结束--------
// 左右晃动动画
@keyframes bellRing {

    0%,
    100% {
        transform-origin: top;
    }

    15% {
        transform: rotateZ(10deg);
    }

    30% {
        transform: rotateZ(-10deg);
    }

    45% {
        transform: rotateZ(5deg);
    }

    60% {
        transform: rotateZ(-5deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}