// ----------定义变量SCSS----------

@use "sass:color";

// 1.尺寸变量
$sizes: (
    // "header-height": 9.7vh,
    // "min-header-height": 50px,
    "aside-width": 332px,
    "min-aside-width":227.7px,
    "mobile-aside-width":100px,
    "min-mobile-aside-width":40px,
    "toggle-height": calc(60px * 10),
    "toggle-width": 64px,
);


// 2.字体变量
$fonts: (
    "primary-font": 'AlimamaDongFangDaKai-Regular',
    // secondary-font: 'Tobias',
    // tertiary-font: 'PP Hatton'
    "font-size": 16px,
    "font-weight": 600,
);

// 3.颜色变量
$colors: (
    "black": #000000,
    "white": #FFFFFF,
    "blue": #1C7FC7,
    "white-blue": #CAEEFF,
    "cream": #fff8f2,
    "dark-blue": #3f627b,
    "darker-blue": #001A33,
    "primary-blue": #9CC3F7,
    "bg-one": #E5F3FF,
    "bg-two":#F0F2FF,
    "purple": #F0F2FF,
    "dark-purple": #8C8FE3,
    "red": #ff0000,
    "green": #0db166,
    "yellow": #f6c138,
    "orange":#F68D14,
    "pink":#e27391,
    "dark-yellow": #EFF500,
    "coral": #FFA78F,
    "gray":#9E9FA3,
    "transparent": transparent,
);

:root{
    // 尺寸变量
    @each $key, $value in $sizes {
        --#{$key}: #{"#{$value}"};
    }

    // 字体变量
    @each $key, $value in $fonts {
        --#{$key}: #{"#{$value}"};
    }

    // 颜色变量
    @each $key, $value in $colors {
        --#{$key}:#{"#{$value}"};// 基础颜色
        // $rgb: rgb(red($value),green($value),blue($value) , 8%);
        $rgba: rgba(color.channel($value, "red", $space: rgb),
                    color.channel($value, "green", $space: rgb),
                    color.channel($value, "blue", $space: rgb),
                    50%
                );
        --#{$key}-rgb: #{"#{$rgba}"}; // 定义颜色的 RGB 值
        // --#{$key}-hover: #{"#{$rgba}"};

        --#{$key}-light: #{color.scale($value, $lightness: 80%)}; // 生成浅色变体
        --#{$key}-dark: #{color.scale($value, $lightness: -30%)}; // 生成深色变体
    }
}
