@font-face{
    font-family: 'AlibabaPuHuiTi-3-45-Light';
    src:url('~@/assets/fonts/AlibabaPuHuiTi-3-45-Light/AlibabaPuHuiTi-3-45-Light.woff2') format('woff2'),
        url('~@/assets/fonts/AlibabaPuHuiTi-3-45-Light/AlibabaPuHuiTi-3-45-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AlibabaPuHuiTi-3-45-Light';
    src: url('~@/assets/fonts/AlibabaPuHuiTi-3-45-Light/AlibabaPuHuiTi-3-45-Light.woff2') format('woff2'),
        url('~@/assets/fonts/AlibabaPuHuiTi-3-45-Light/AlibabaPuHuiTi-3-45-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}